# .dockerignore

# Exclude development files
node_modules
npm-debug.log

backend
kubernetes-deployment
# Exclude build artifacts
.next

# Exclude other unnecessary files and directories
.DS_Store
.env
.git
.gitignore
